@inherits LayoutComponentBase

<PageTitle><h1>Ignite Slide Express</h1></PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <div class="navbar-brand mx-auto">Ignite Slide Express</div>
            <a class="nav-link" href="https://github.com/jacobduijzer/IgniteSlideExpress" target="_blank">
                <img src="img/github-mark.png" alt="GitHub Icon" height="24"/>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>